/* Reset some basic elements */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Main container */
.container {
    display: flex;
    overflow-x: clip;
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.sidebar {
    overflow-y: auto;
    transition: margin 0.3s ease; /* Smooth transition for toggling */
    text-decoration: none;
    width: var(--sidebar-width);
    color: var(--sidebar-fg);
    background-color: var(--sidebar-bg);
}

.sidebar.closed {
    margin-left: calc(var(--sidebar-width) * (-1));
}

.sidebar__toggle {
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background: #ddd;
}

.sidebar__menu {
    padding: 15px;
}

.sidebar__menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--sidebar-fg);
}

.sidebar__menu a:hover {
    color: var(--sidebar-active);
}

/* Content area styles */
.content {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    transition: margin-left 0.3s ease; /* Smooth transition for content adjustment */
}

.content :is(h1, h2, p, ul, li) {
    margin: revert;
    padding: revert;
    list-style: revert;
}

.content__header, .content__footer {
    padding: 20px;
    background: var(--bg);
    text-align: center;
    position: relative;
}

.content__toggle {
    position: absolute;
    left: 10px;
}

.content__main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 700px;
}

code {
    display: block;
    overflow-x: auto;
    padding: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        position: fixed; /* Absolute positioning for overlay effect */
        z-index: 1000; /* Ensure it lays over the content */
        margin-left: 0; /* Reset for mobile */
    }
}
