/* Main container */
.container {
    display: flex;
    font-family: Arial, sans-serif;
}

.main-header > .toggle {
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background: #ddd;
    left: 10px;
}

/* Content area styles */
.main-content {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    transition: margin-left 0.3s ease; /* Smooth transition for content adjustment */
}

.main-footer {
    padding: 20px;
    background: var(--bg);
    text-align: center;
    position: relative;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 700px;

    code {
        background: #f6f7f6;
        color: #000;
    }

    pre > code {
        display: block;
        overflow-x: auto;
        padding: 1rem;
        font-size: var(--code-font-size);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
