<!DOCTYPE html>
<html lang="{{ metadata.language }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/css/style.css' | safe }}">
  <script src="{{ '/js/toggle-sidebar.js' | safe }}" defer></script>
</head>
<body>
  <div class="container">
    <nav class="sidebar">
      {% include "navigation.njk" %}
    </nav>
    <div class="content">
      <header class="content__header">
        <button class="content__toggle">Toggle Sidebar</button>
        <h1>{{ title }}</h1>
      </header>
      <main class="content__main">
        {{ content | safe }}
      </main>
      {% include "footer.njk" %}
    </div>
  </div>
</body>
</html>

