{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ listClass: "chapters-list", listItemClass: "chapter", listItemHasChildrenClass: "section", activeListItemClass: "-active", activeKey: eleventyNavigation.key }) | safe }}
