{{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ listClass: "section", listItemClass: "entry", listItemHasChildrenClass: "section", activeListItemClass: "-active", activeKey: eleventyNavigation.key }) | safe }}
