/* Main container */
.container {
    display: flex;
    font-family: Arial, sans-serif;
}

/* Sidebar styles */
.navigation-sidebar {
    overflow-y: auto;
    transition: margin 0.3s ease; /* Smooth transition for toggling */
    width: var(--sidebar-width);
    color: var(--sidebar-fg);
    background-color: var(--sidebar-bg);

    &.-closed {
        margin-left: calc(var(--sidebar-width) * (-1));
    }
    > .section {
        list-style: none outside none;
        padding-inline-start: 0;
        line-height: 2.2em;
    }
    > .entry {
        line-height: 1.5em;
        margin-block-start: 0.6em;

        &.-active {
            color: var(--sidebar-active);
        }
    }
}

.main-header > .toggle {
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    cursor: pointer;
    background: #ddd;
    left: 10px;
}

.section, .entry ul, li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--sidebar-fg);
}

.navigation-sidebar > .section a:hover {
    color: var(--sidebar-active);
}

/* Content area styles */
.main-content {
    flex-grow: 1;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    transition: margin-left 0.3s ease; /* Smooth transition for content adjustment */
}

.main-footer {
    padding: 20px;
    background: var(--bg);
    text-align: center;
    position: relative;
}

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    overflow-wrap: break-word;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 700px;

    code {
        background: #f6f7f6;
        color: #000;
    }

    pre > code {
        display: block;
        overflow-x: auto;
        padding: 1rem;
        font-size: var(--code-font-size);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .main-sidebar {
        width: 100%;
        position: fixed; /* Absolute positioning for overlay effect */
        z-index: 1000; /* Ensure it lays over the content */
        margin-left: 0; /* Reset for mobile */
    }
}
